/* RESETEO CSS */
* {
  margin: 0;
  padding: 0; }

/* ESTILOS GENERALES */
/* titulos, parrafos y enlaces */
body {
  font-family: 'Poppins', sans-serif; }

@media (min-width: 992px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 4.5rem;
    font-weight: 700; }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 3rem;
    font-weight: 600; }
  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 500; }
  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.4rem;
    font-weight: 400; } }

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 4rem;
    font-weight: 700; }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 600; }
  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 500; }
  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 400; } }

@media (max-width: 767px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 3rem;
    font-weight: 700; }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2.2rem;
    font-weight: 600; }
  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 500; }
  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400; } }

a, a:hover {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black; }

/* nav */
nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  background-color: #EFD6CE; }
  nav ul li a, nav ul li a:hover {
    font-size: 1.3rem;
    color: #a0a0a0;
    border-bottom: solid 1px transparent;
    padding: 0 50px;
    transition: all 0.3s; }
    nav ul li a:hover {
      color: black;
      border-bottom: solid 1px black; }
  nav a img, nav a:hover img {
    padding: 5px 20px; }
    nav a img:hover {
      padding: 5px 20px; }
  nav:hover {
    color: black;
    border-bottom: solid 1px black; }

.nav-link, .nav-item {
  font-size: 1.3rem;
  color: #a0a0a0;
  border-bottom: solid 1px transparent;
  padding: 0 5px;
  transition: all 0.3s; }
  .nav-link:hover, .nav-item:hover {
    color: black;
    border-bottom: solid 1px black; }

.nav-item:hover {
  border-bottom: solid 1px transparent; }

.navActive {
  font-weight: 600;
  color: black;
  border-bottom: solid 1px black; }

.navbar {
  z-index: 1;
  position: fixed;
  width: 100vw;
  border-bottom: solid 1px transparent; }
  .navbar:hover {
    border-bottom: solid 1px transparent; }

.navbar-brand {
  z-index: 1; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none; }

.dropdown-menu {
  background-color: #EFD6CE;
  border: none;
  border-radius: 10px; }

.dropdown-item:hover {
  background-color: #D39788;
  color: black; }

/* footer */
footer {
  background-color: #475418;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%; }
  footer div img {
    padding: 20px; }
    @media (max-width: 767px) {
      footer div img {
        transform: scale(0.5);
        padding: 0; } }
  footer div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      footer div ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        list-style: none; } }
    footer div ul li {
      padding: 20px; }
      @media (max-width: 767px) {
        footer div ul li {
          padding: 5px; } }
      footer div ul li a, footer div ul li a:hover {
        color: white; }
        footer div ul li a:hover {
          border-bottom: solid 0.5px white;
          color: white;
          text-decoration: none; }
        @media (min-width: 992px) {
          footer div ul li a, footer div ul li a:hover {
            font-size: 1.2rem; } }
        @media (min-width: 768px) and (max-width: 991px) {
          footer div ul li a, footer div ul li a:hover {
            font-size: 1rem; } }
        @media (max-width: 767px) {
          footer div ul li a, footer div ul li a:hover {
            font-size: 0.8rem; } }

.footer__logo {
  align-self: center; }

.footer__copyrigth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: solid 0.3px white;
  padding: 20px; }
  .footer__copyrigth p {
    font-style: italic;
    color: lightgrey; }
    .footer__copyrigth p span {
      font-weight: 600; }

/* botones */
.boton, .boton--rosa {
  display: inline-flex;
  padding: 0 30px;
  width: 200px;
  height: 70px;
  background-color: #A4B26B;
  border-radius: 25px;
  align-items: center; }
  .boton:hover, .boton--rosa:hover {
    background-color: #778C3A; }
  @media (max-width: 767px) {
    .boton, .boton--rosa {
      width: 150px;
      height: 35px;
      border-radius: 15px;
      padding: 10px 20px; } }

.boton--rosa {
  background-color: #D39788; }
  .boton--rosa:hover {
    background-color: #BC716D; }

.boton__texto {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  color: black; }
  .boton__texto:hover {
    color: black; }
  @media (max-width: 767px) {
    .boton__texto {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-size: 1rem;
      font-weight: 500; } }

/* -- INICIO -- */
/* carrousel */
.carousel {
  z-index: 0; }
  .carousel img {
    object-fit: cover;
    object-position: center;
    height: 90vh; }

button .navbar-toggler {
  z-index: 1; }

button:focus {
  outline: 1px dotted;
  outline: 5px white; }

.carousel-caption {
  margin-bottom: 50px; }

/* presentacion */
.presentacion {
  display: flex;
  flex-wrap: wrap;
  margin: 75px auto;
  width: 80vw; }
  @media (min-width: 768px) and (max-width: 991px) {
    .presentacion {
      text-align: left; } }
  @media (max-width: 767px) {
    .presentacion {
      text-align: center; } }

.presentacion__foto img {
  border-radius: 500px;
  margin-bottom: 30px;
  width: 80%; }

/* eventos */
.eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px auto;
  width: 70vw; }

.eventos__titulo {
  margin: 30px 0; }

.eventos__categorias {
  display: grid;
  grid-template-areas: "bodas quince quince" "bodas cumples rincones" "recep recep rincones" "recep recep casa";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 250px);
  grid-column-gap: 20px;
  grid-row-gap: 20px; }
  @media (max-width: 991px) {
    .eventos__categorias {
      display: grid;
      grid-template-areas: "bodas quince" "bodas cumples" "recep recep" "casa rincones";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 180px);
      grid-column-gap: 20px;
      grid-row-gap: 20px; } }

.bodas {
  grid-area: bodas;
  background-image: linear-gradient(to right, #EFD6CE, #D39788);
  border-radius: 25px;
  padding: 20px; }

.cumples {
  grid-area: cumples;
  background-color: #EFD6CE;
  border-radius: 25px;
  padding: 20px; }

.quince {
  grid-area: quince;
  background-color: #D4D8B6;
  border-radius: 25px;
  padding: 20px; }

.rincones {
  grid-area: rincones;
  background-image: linear-gradient(to right, #EFD6CE, #D39788);
  border-radius: 25px;
  padding: 20px; }

.recep {
  grid-area: recep;
  background-image: linear-gradient(to right, #D4D8B6, #A4B26B);
  border-radius: 25px;
  padding: 20px; }

.casa {
  grid-area: casa;
  background-color: #EFD6CE;
  border-radius: 25px;
  padding: 20px; }

/* testimonios */
.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFD6CE;
  margin: 75px auto;
  padding: 10px 0; }
  .testimonios p {
    text-align: center; }

.testimonios__titulo {
  margin: 30px 0;
  text-align: center; }

.testimonios__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 70vw; }
  @media (max-width: 767px) {
    .testimonios__cards {
      flex-wrap: wrap; } }

.testimonios__card1, .testimonios__card2, .testimonios__card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.testimonios__info {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px; }

.testimonios__foto {
  border-radius: 250px; }

/* servicios */
.servicios__titulo {
  margin: 50px auto;
  align-self: center;
  text-align: center; }

@media (max-width: 991px) {
  .servicios__cards {
    flex-wrap: wrap;
    width: 80%;
    margin: auto; } }

@media (max-width: 991px) {
  .servicios__card1, .servicios__card2 {
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    justify-content: center; } }

@media (max-width: 991px) {
  .servicios__info {
    padding: 0;
    align-items: center;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 991px) {
  .servicios__foto img {
    width: 300px; } }

@media (max-width: 767px) {
  .servicios__foto img {
    width: 200px; } }

.contenedorCards {
  margin: 0 auto 75px auto;
  width: 80vw; }

.card {
  border-width: 0px;
  border-radius: 25px;
  margin: 25px; }
  .card img {
    border-radius: 25px 25px 0 0; }

.card-body {
  padding: 30px; }

.card1 {
  background-color: #D4D8B6; }

.card2 {
  background-color: #EFD6CE; }

/* -- SOBRE MI -- */
/* cristina */
.cristina {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to right, #D4D8B6, #A4B26B);
  height: 700px;
  width: 100vw; }
  @media (min-width: 992px) {
    .cristina {
      flex-wrap: nowrap; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .cristina {
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .cristina {
      flex-wrap: wrap; } }

.cristina__frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px; }
  .cristina__frase h2 {
    color: #778C3A;
    font-size: 700; }
  .cristina__frase h3 {
    color: #778C3A;
    font-style: italic; }
  @media (max-width: 767px) {
    .cristina__frase {
      margin-top: 100px; } }

.cristina__parrafo {
  display: inline-block;
  width: 50vw;
  margin-bottom: 40px;
  font-style: italic; }

.cristina__foto {
  align-self: flex-end; }
  @media (max-width: 991px) {
    .cristina__foto img {
      height: 500px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .cristina__foto img {
      height: 350px; } }
  @media (max-width: 767px) {
    .cristina__foto img {
      height: 0; } }

/* historia */
.historia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 150px auto;
  width: 90vw; }
  @media (min-width: 992px) {
    .historia {
      flex-wrap: nowrap; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .historia {
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .historia {
      flex-wrap: wrap; } }

.historia__fotos {
  display: grid;
  grid-template-areas: "historia1 historia1" "historia2 historia2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: center; }

.historia1 {
  grid-area: historia1;
  border-radius: 5%; }
  @media (min-width: 992px) {
    .historia1 {
      width: 600px;
      height: 400px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .historia1 {
      width: 500px;
      height: 300px; } }
  @media (max-width: 767px) {
    .historia1 {
      width: 400px;
      height: 250px; } }

.historia2 {
  grid-area: historia2;
  border-radius: 5%; }
  @media (min-width: 992px) {
    .historia2 {
      width: 600px;
      height: 400px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .historia2 {
      width: 500px;
      height: 300px; } }
  @media (max-width: 767px) {
    .historia2 {
      width: 400px;
      height: 250px; } }

.historia__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%; }

.historia__info p {
  margin-bottom: 30px; }

.historia__info h2 {
  text-align: left;
  margin-bottom: 30px; }

/* logros */
.logros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E5DDD3;
  margin: 150px 0;
  padding: 30px 0; }
  @media (max-width: 767px) {
    .logros {
      flex-direction: column; } }

.logros__texto {
  display: flex;
  flex-direction: column;
  width: 50%; }

.logros__cifras {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 30px 0; }
  @media (max-width: 767px) {
    .logros__cifras {
      flex-direction: row; } }

/* hobbies */
.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 150px 0; }

.hobbies__titulo {
  align-self: center;
  margin: 30px 0; }

.hobbies__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.hobbies__card1, .hobbies__card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .hobbies__card1, .hobbies__card2 {
      align-items: center; } }

.hobbies h4 {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic; }
  @media (max-width: 767px) {
    .hobbies h4 {
      font-size: 0.8rem; } }

.hobbies img {
  border-radius: 25px;
  margin: 20px 0; }
  @media (min-width: 992px) {
    .hobbies img {
      width: 500px;
      height: 300px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .hobbies img {
      width: 80%;
      height: 80%; } }
  @media (max-width: 767px) {
    .hobbies img {
      width: 70%;
      height: 70%; } }

/* -- GALERIA -- */
.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0; }

.galeria h1 {
  margin-bottom: 50px; }

.galeria__fotos {
  display: grid;
  grid-template-areas: "foto1 foto1 foto2 foto3" "foto4 foto5 foto5 foto6" "foto7 foto5 foto5 foto6" "foto8 foto8 foto9 foto10";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 400px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 80vw; }

.galeria__fotos div {
  transition: all 0.5s; }

.galeria__fotos div:hover {
  transform: scale(1.05); }

.foto1 {
  grid-area: foto1;
  border-radius: 25px;
  background-image: url(../img/galeria1.jpg);
  background-size: cover;
  background-position: center; }

.foto2 {
  grid-area: foto2;
  border-radius: 25px;
  background-image: url(../img/galeria2.jpg);
  background-size: cover;
  background-position: center; }

.foto3 {
  grid-area: foto3;
  border-radius: 25px;
  background-image: url(../img/galeria3.jpg);
  background-size: cover;
  background-position: center; }

.foto4 {
  grid-area: foto4;
  border-radius: 25px;
  background-image: url(../img/galeria4.jpg);
  background-size: cover;
  background-position: center; }

.foto5 {
  grid-area: foto5;
  border-radius: 25px;
  background-image: url(../img/galeria5.jpg);
  background-size: cover;
  background-position: center; }

.foto6 {
  grid-area: foto6;
  border-radius: 25px;
  background-image: url(../img/galeria6.jpg);
  background-size: cover;
  background-position: center; }

.foto7 {
  grid-area: foto7;
  border-radius: 25px;
  background-image: url(../img/galeria7.jpg);
  background-size: cover;
  background-position: center; }

.foto8 {
  grid-area: foto8;
  border-radius: 25px;
  background-image: url(../img/galeria8.jpg);
  background-size: cover;
  background-position: center; }

.foto9 {
  grid-area: foto9;
  border-radius: 25px;
  background-image: url(../img/galeria9.jpg);
  background-size: cover;
  background-position: center; }

.foto10 {
  grid-area: foto10;
  border-radius: 25px;
  background-image: url(../img/galeria10.jpg);
  background-size: cover;
  background-position: center; }

/* -- SERVICIOS -- */
/* proceso de diseno */
.proceso {
  padding-top: 150px; }

.proceso h1 {
  text-align: center;
  margin-bottom: 100px; }

.etapas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center; }

/* servicios */
.service {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 150px 0; }

.service__card1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 0; }

.service__foto1 img {
  border-radius: 500px; }

.service__info1 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.service__card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #EFD6CE; }

.service__foto2 img {
  border-radius: 500px;
  transform: scale(1.2); }

.service__info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right; }

/* boton */
.boton__servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: 20px;
  background-image: url(../img/carrousel1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding: 50px;
  margin: 100px 50px;
  color: white; }

.botonLargo {
  display: inline-flex;
  padding: 0 30px;
  width: 400px;
  height: 70px;
  background-color: #A4B26B;
  border-radius: 25px;
  align-items: center; }

.botonLargo:hover {
  background-color: white; }

/* -- CONTACTO -- */
/* formulario */
.contacto {
  padding-top: 150px; }

.contacto h1 {
  text-align: center;
  margin-bottom: 50px; }

form {
  background-color: #d8dfb4;
  border-radius: 50px;
  margin-bottom: 100px; }

fieldset {
  border: none; }

.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }

.formulario__datos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  gap: 20px; }

.formulario__datos1 {
  margin-bottom: 20px; }

.formulario__datos2, .formulario__datos3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px; }

.datoss {
  display: flex;
  flex-direction: column; }

.formulario__evento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  gap: 20px; }

.formulario__evento1 {
  margin-bottom: 20px; }

.formulario__evento2, .formulario__evento3, .formulario__evento4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px; }

form label {
  font-size: 1.5rem;
  font-weight: 600; }

form ::placeholder, form select, form option {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

form option {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; }

form input, form select, form option {
  padding: 20px;
  width: 25vw; }

form textarea {
  padding: 20px;
  width: 50vw; }

form h3 {
  font-size: 3rem; }

.formulario__botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 0; }

.formulario__boton1 {
  display: inline-flex;
  padding: 0 30px;
  width: 400px;
  height: 70px;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  color: black; }

.formulario__boton1:hover, .formulario__boton2:hover {
  background-color: #778C3A; }

.formulario__boton2 {
  display: inline-flex;
  padding: 0 30px;
  width: 400px;
  height: 70px;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  color: black; }
