//VARIABLES, LISTAS  Y MIXIN 
//colores
$rosaViejo: #E5DDD3;
$rosa: #EFD6CE, #D39788, #BC716D;
$verde: #D4D8B6, #A4B26B, #778C3A, #475418;

//botones
$botonAncho: 200px;
$botonAlto: 70px;

//tipografía
@mixin fontPoppins ($size, $weight){ 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: $size;
    font-weight: $weight;
}

/* -- SOBRE MI -- */
/* cristina */
.cristina{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  background-image: linear-gradient(to right, nth($verde,1), nth($verde,2));
  height: 700px;
  width: 100vw;
  position: relative;
  top: 50px;
  gap: 50px;
  @media (min-width: 992px){
    flex-wrap: nowrap;
  }
  @media (min-width: 768px) and (max-width: 991px){
    flex-wrap: wrap;
  }
  @media (max-width: 767px){
    flex-wrap: wrap;
  } 
} 
  
.cristina__frase{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  p{
    max-width: 1200px;
  }
  h2{
    color: nth($verde,3);
    font-size: 700;
  }
  h3{
    color: nth($verde,3);
    font-style: italic;
  }
  @media (max-width: 767px){
    margin-top: 100px;
  } 
}
  
.cristina__parrafo{
  display: inline-block;
  width: 50vw;
  margin-bottom: 40px;
  font-style: italic;
}
  
.cristina__foto{
  align-self: center;
  img{
    transform: rotate(20des);
    @media (min-width: 12001px){
      height: 500px;
      }
    @media (min-width: 992px) and (max-width: 1200px){
      height: 350px;
    }
    @media (min-width: 768px) and (max-width: 991px){
      height: 250px;
    }
    @media (max-width: 767px){
      height: 0;
    }
  }
}
  
/* historia */
.historia{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 150px auto;
  width: 80vw;
  flex-wrap: wrap;
  gap:50px;
}

.historia__fotos{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
}

.historia1{
  border-radius: 5%;
  max-width: 600px;
  @media (min-width: 992px) {
    width: 600px;
    height: 400px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    width: 500px;
    height: 300px;
  }
  @media (max-width: 767px) {
    width: 400px;
    height: 250px;
  }
  @media (max-width: 500px) {
    width: 200px;
    height: 150px;
  }
}

.historia2{
 @extend .historia1;
}

.historia__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  p{
    margin-bottom: 30px
  }
  h2{
    text-align: left;
    margin-bottom: 30px
  }
}

/* logros */
.logros{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $rosaViejo;
  padding: 30px 0;
  @media (max-width: 767px){
    flex-direction: column;
  }
}

.logros__texto{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.logros__cifras{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 30px 0;
  @media (max-width: 767px){
    flex-direction:row;
  }
}

/* hobbies */
.hobbies{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 100px 0;
  h4{
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    @media (max-width: 767px){
      font-size: 0.8rem;
    }
  }
  img{
    border-radius: 25px;
    margin: 20px 0;
    @media (min-width: 992px){
      width: 500px;
      height: 300px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      width: 80%;
      height: 80%;
    }
    @media (max-width: 767px){
      width: 70%;
      height: 70%;
    }
  }
}

.hobbies__titulo{
  align-self: center;
  margin: 30px 0;
}

.hobbies__cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.hobbies__card1, .hobbies__card2{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 767px){
    align-items: center;
  }
}