//VARIABLES, LISTAS Y MIXIN 
//colores
$rosaViejo: #E5DDD3;
$rosa: #EFD6CE, #D39788, #BC716D;
$verde: #D4D8B6, #A4B26B, #778C3A, #475418;

//botones
$botonAncho: 180px;
$botonAlto: 70px;

//tipografías
@mixin fontPoppins ($size, $weight){ 
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: $size;
    font-weight: $weight;
}

/* -- SERVICIOS -- */
/* servicios */
.service{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  h1{
    text-align: center;
    margin-top: 150px;
  }

.service__card1{
  width: 100%;
  margin: auto;
  padding: 0 10%;
  @media (min-width: 992px){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    gap: 50px;
  }
  @media (max-width: 991px){
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
}

.service__foto1 img{
  border-radius: 500px;
  max-width: 500px;
  @media (min-width: 992px){
    max-width: 100%;
  }
  @media (min-width: 768px) and (max-width: 991px){
    width: 80%;
  }
  @media (max-width: 767px){
    width: 60%;
    margin-bottom: 20px;
  }
}

.service__info1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
}

.service__card2{
  @extend .service__card1;
  background-color: nth($rosa,1);
}

.service__foto2 img{
  border-radius: 500px;
  max-width: 500px;
  @media (min-width: 992px){
    max-width: 100%;
  }
  @media (min-width: 768px) and (max-width: 991px){
    width: 80%;
  }
  @media (max-width: 767px){
    width: 60%;
    margin-bottom: 20px;
  }
}

.service__info2{
  @extend .service__info1;
}}