@charset "UTF-8";
/* RESETEO CSS */
* {
  margin: 0;
  padding: 0; }

/* -- INICIO -- */
/* carrousel de imágenes */
.carousel {
  z-index: 0;
  top: 96px;
  margin-bottom: 150px; }
  .carousel img {
    object-fit: cover;
    object-position: center; }
    @media (min-width: 992px) {
      .carousel img {
        height: 90vh; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .carousel img {
        height: 70vh; } }
    @media (max-width: 767px) {
      .carousel img {
        height: 50vh; } }

button .navbar-toggler {
  z-index: 1; }

button:focus {
  outline: 1px dotted;
  outline: 5px white; }

.carousel-caption {
  margin-bottom: 50px; }

/* presentación con foto */
.presentacion {
  display: flex;
  flex-wrap: wrap;
  margin: 75px auto;
  width: 80vw; }
  @media (min-width: 768px) and (max-width: 991px) {
    .presentacion {
      text-align: left; } }
  @media (max-width: 767px) {
    .presentacion {
      text-align: center; } }

.presentacion__foto img {
  border-radius: 500px;
  margin-bottom: 30px;
  width: 80%; }

/* eventos recientes */
.eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px auto;
  width: 70vw; }

.eventos__titulo {
  margin: 30px 0; }

.eventos__categorias {
  display: grid;
  grid-template-areas: "bodas quince quince" "bodas cumples rincones" "recep recep rincones" "recep recep casa";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 250px);
  grid-column-gap: 20px;
  grid-row-gap: 20px; }
  @media (max-width: 991px) {
    .eventos__categorias {
      display: grid;
      grid-template-areas: "bodas quince" "bodas cumples" "recep recep" "casa rincones";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 180px);
      grid-column-gap: 20px;
      grid-row-gap: 20px; } }

.bodas {
  grid-area: bodas;
  background-image: linear-gradient(to right, #EFD6CE, #D39788);
  border-radius: 25px;
  padding: 20px; }

.cumples {
  grid-area: cumples;
  background-color: #EFD6CE;
  border-radius: 25px;
  padding: 20px; }

.quince {
  grid-area: quince;
  background-color: #D4D8B6;
  border-radius: 25px;
  padding: 20px; }

.rincones {
  grid-area: rincones;
  background-image: linear-gradient(to right, #EFD6CE, #D39788);
  border-radius: 25px;
  padding: 20px; }

.recep {
  grid-area: recep;
  background-image: linear-gradient(to right, #D4D8B6, #A4B26B);
  border-radius: 25px;
  padding: 20px; }

.casa {
  grid-area: casa;
  background-color: #EFD6CE;
  border-radius: 25px;
  padding: 20px; }

/* testimonios de clientes */
.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5DDD3;
  margin: 75px auto;
  padding: 10px 0; }
  .testimonios p {
    text-align: center; }

.testimonios__titulo {
  margin: 30px 0;
  text-align: center; }

.testimonios__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 70vw; }
  @media (max-width: 991px) {
    .testimonios__cards {
      flex-wrap: wrap; } }

.testimonios__card1, .testimonios__card2, .testimonios__card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.testimonios__info {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px; }

.testimonios__foto {
  border-radius: 250px; }

/* nuestros servicios */
.servicios__titulo {
  margin: 50px auto;
  align-self: center;
  text-align: center; }

@media (max-width: 991px) {
  .servicios__cards {
    flex-wrap: wrap;
    width: 80%;
    margin: auto; } }

@media (max-width: 991px) {
  .servicios__card1, .servicios__card2 {
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    justify-content: center; } }

@media (max-width: 991px) {
  .servicios__info {
    padding: 0;
    align-items: center;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 991px) {
  .servicios__foto img {
    width: 300px; } }

@media (max-width: 767px) {
  .servicios__foto img {
    width: 200px; } }

.contenedorCards {
  margin: 0 auto 75px auto;
  width: 80vw; }

.card {
  border-width: 0px;
  border-radius: 25px;
  margin: 25px; }
  .card img {
    border-radius: 25px 25px 0 0; }

.card-body {
  padding: 30px; }

.card1 {
  background-color: #D4D8B6; }

.card2 {
  background-color: #EFD6CE; }

/* -- SOBRE MI -- */
/* frase y fotografía de Cristina */
.cristina {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to right, #D4D8B6, #A4B26B);
  width: 100%;
  position: relative;
  top: 96px;
  padding: 50px 0;
  gap: 50px; }
  @media (min-width: 992px) {
    .cristina {
      flex-wrap: nowrap; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .cristina {
      flex-wrap: wrap;
      gap: 30px; } }
  @media (max-width: 767px) {
    .cristina {
      flex-wrap: wrap;
      gap: 10px; } }

.cristina__frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .cristina__frase p {
    max-width: 1200px; }
  .cristina__frase h2 {
    color: #778C3A;
    font-size: 700; }
  .cristina__frase h3 {
    color: #778C3A;
    font-style: italic; }

.cristina__parrafo {
  display: inline-block;
  width: 50vw;
  margin-bottom: 40px;
  font-style: italic; }

.cristina__foto {
  align-self: center; }
  .cristina__foto img {
    transform: rotate(20des); }
    @media (min-width: 12001px) {
      .cristina__foto img {
        height: 500px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      .cristina__foto img {
        height: 400px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .cristina__foto img {
        height: 300px; } }
    @media (max-width: 767px) {
      .cristina__foto img {
        height: 250px; } }

/* historia */
.historia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 150px auto 50px auto;
  width: 80vw;
  flex-wrap: wrap;
  gap: 50px; }

.historia__fotos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px; }

.historia1, .historia2 {
  border-radius: 5%;
  max-width: 600px; }
  @media (min-width: 992px) {
    .historia1, .historia2 {
      width: 600px;
      height: 400px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .historia1, .historia2 {
      width: 500px;
      height: 300px; } }
  @media (max-width: 767px) {
    .historia1, .historia2 {
      width: 400px;
      height: 250px; } }
  @media (max-width: 500px) {
    .historia1, .historia2 {
      width: 200px;
      height: 150px; } }

.historia__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px; }
  .historia__info p {
    margin-bottom: 30px; }
  .historia__info h2 {
    text-align: left;
    margin-bottom: 30px; }

/* pequeños logros */
.logros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E5DDD3;
  padding: 30px 0; }
  @media (max-width: 767px) {
    .logros {
      flex-direction: column; } }

.logros__texto {
  display: flex;
  flex-direction: column;
  width: 40%; }

.logros__cifras {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 30px 0; }

/* hobbies y pasiones*/
.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 50px 0; }
  .hobbies h4 {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic; }
    @media (max-width: 767px) {
      .hobbies h4 {
        font-size: 0.8rem; } }
  .hobbies img {
    border-radius: 25px;
    margin: 20px 0; }
    @media (min-width: 992px) {
      .hobbies img {
        width: 500px;
        height: 300px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .hobbies img {
        width: 80%;
        height: 80%; } }
    @media (max-width: 767px) {
      .hobbies img {
        width: 70%;
        height: 70%; } }

.hobbies__titulo {
  align-self: center;
  margin: 30px 0; }

.hobbies__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px; }
  @media (max-width: 767px) {
    .hobbies__cards {
      gap: 30px; } }

.hobbies__card1, .hobbies__card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .hobbies__card1, .hobbies__card2 {
      align-items: center; } }

/* -- GALERIA -- */
/* galería de fotos de eventos realizados */
.galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0 0 0; }
  .galeria h1 {
    margin-bottom: 50px;
    text-align: center; }

.galeria__fotos {
  display: grid; }
  .galeria__fotos div {
    transition: all 0.5s; }
    .galeria__fotos div:hover {
      transform: scale(1.05); }
  @media (min-width: 992px) {
    .galeria__fotos {
      grid-template-areas: "foto1 foto1 foto2 foto3" "foto4 foto5 foto5 foto6" "foto7 foto5 foto5 foto6" "foto8 foto8 foto9 foto10";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(4, 400px);
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      width: 80vw; } }
  @media (max-width: 991px) {
    .galeria__fotos {
      grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 foto10";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 200px);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      width: 80vw; } }

.foto1 {
  grid-area: foto1;
  background-image: url(../../img/galeria1.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto2 {
  grid-area: foto2;
  background-image: url(../../img/galeria2.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto3 {
  grid-area: foto3;
  background-image: url(../../img/galeria3.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto4 {
  grid-area: foto4;
  background-image: url(../../img/galeria4.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto5 {
  grid-area: foto5;
  background-image: url(../../img/galeria5.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto6 {
  grid-area: foto6;
  background-image: url(../../img/galeria6.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto7 {
  grid-area: foto7;
  background-image: url(../../img/galeria7.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto8 {
  grid-area: foto8;
  background-image: url(../../img/galeria8.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto9 {
  grid-area: foto9;
  background-image: url(../../img/galeria9.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

.foto10 {
  grid-area: foto10;
  background-image: url(../../img/galeria10.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center; }

/* botón de contacto*/
.boton__galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
  width: 80vw;
  background-color: #EFD6CE;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding: 30px;
  margin: 100px auto;
  color: black; }

.botonLargo--rosa {
  display: inline-flex;
  padding: 0 30px;
  width: 400px;
  height: 70px;
  background-color: #D39788;
  border-radius: 25px;
  align-items: center; }

.botonLargo--rosa:hover {
  background-color: #BC716D; }

/* -- SERVICIOS -- */
/* servicios */
.service {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto; }
  .service h1 {
    text-align: center;
    margin-top: 150px; }
  .service .service__card1, .service .service__card2 {
    width: 100%;
    margin: auto;
    padding: 0 10%; }
    @media (min-width: 992px) {
      .service .service__card1, .service .service__card2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        gap: 50px; } }
    @media (max-width: 991px) {
      .service .service__card1, .service .service__card2 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px; } }
  .service .service__foto1 img {
    border-radius: 500px;
    max-width: 500px; }
    @media (min-width: 992px) {
      .service .service__foto1 img {
        max-width: 100%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .service .service__foto1 img {
        width: 80%; } }
    @media (max-width: 767px) {
      .service .service__foto1 img {
        width: 60%;
        margin-bottom: 20px; } }
  .service .service__info1, .service .service__info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px; }
  .service .service__card2 {
    background-color: #EFD6CE; }
  .service .service__foto2 img {
    border-radius: 500px;
    max-width: 500px; }
    @media (min-width: 992px) {
      .service .service__foto2 img {
        max-width: 100%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .service .service__foto2 img {
        width: 80%; } }
    @media (max-width: 767px) {
      .service .service__foto2 img {
        width: 60%;
        margin-bottom: 20px; } }

/* proceso de diseño */
.proceso {
  margin: 100px auto; }
  .proceso h2 {
    text-align: center;
    margin-bottom: 50px; }

.etapas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  gap: 30px; }
  @media (max-width: 767px) {
    .etapas {
      flex-wrap: wrap; } }
  .etapas div {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px; }
    .etapas div img {
      max-width: 150px;
      margin-bottom: 20px;
      align-self: center; }

/* botón de contacto*/
.boton__servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
  width: 80vw;
  background-image: url(../../img/carrousel1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding: 30px;
  margin: 100px auto;
  color: white;
  overflow: hidden; }

/* -- CONTACTO -- */
/* formulario de contacto */
.contacto {
  padding-top: 150px; }
  .contacto h1 {
    text-align: center;
    margin-bottom: 50px; }

form {
  background-color: #D4D8B6;
  border-radius: 50px;
  margin-bottom: 100px;
  max-width: 60vw;
  padding: 50px; }
  @media (max-width: 767px) {
    form {
      max-width: 80vw; } }

fieldset {
  border: none; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%; }

.formulario__datos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px; }
  .formulario__datos h2 {
    margin-bottom: 20px; }

.formulario__datos1, .formulario__datos2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 20px; }
  @media (max-width: 767px) {
    .formulario__datos1, .formulario__datos2 {
      flex-direction: column; } }

.datoss {
  display: flex;
  flex-direction: column;
  min-width: 49%; }

.formulario__evento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px; }
  .formulario__evento h2 {
    margin-bottom: 20px; }

.formulario__evento1, .formulario__evento2, .formulario__evento3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  width: 100%; }

@media (max-width: 767px) {
  .formulario__evento2 {
    flex-direction: column; } }

.comentarioss {
  display: flex;
  flex-direction: column; }
  .comentarioss textarea {
    width: 600px; }

form label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600; }

form ::placeholder {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 5px;
  color: grey; }

form input {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  color: black; }

form select {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  color: black; }

form option {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  color: grey; }

form textarea {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px;
  color: grey;
  max-width: 80%; }

.formulario__botones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 30px; }

.formulario__boton1:hover, .formulario__boton2:hover {
  background-color: #778C3A; }

/* ESTILOS GENERALES */
/* títulos, párrafos y enlaces */
body {
  font-family: 'Poppins', sans-serif; }

@media (min-width: 992px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 4rem;
    font-weight: 700; }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2.7rem;
    font-weight: 600; }
  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 500; }
  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    font-weight: 400; }
  strong {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 4rem;
    font-weight: 700; } }

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 3rem;
    font-weight: 700; }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 600; }
  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 500; }
  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400; }
  strong {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 3rem;
    font-weight: 700; } }

@media (max-width: 767px) {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 700; }
  h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 600; }
  h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500; }
  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 0.8rem;
    font-weight: 400; }
  strong {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 700; } }

a, a:hover {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black; }

/* barra de navegación */
nav {
  z-index: 1;
  position: fixed;
  width: 100vw;
  background-color: #EFD6CE; }
  nav ul li a, nav ul li a:hover {
    font-size: 1.3rem;
    color: #a0a0a0;
    border-bottom: solid 1px transparent;
    padding: 0 50px;
    transition: all 0.3s; }
    nav ul li a:hover {
      color: black;
      border-bottom: solid 1px black; }
  nav a img, nav a:hover img {
    padding: 5px 20px; }
    nav a img:hover {
      padding: 5px 20px; }
  nav:hover {
    color: black;
    border-bottom: solid 1px black; }

.nav-link, .nav-item {
  font-size: 1.3rem;
  color: #a0a0a0;
  border-bottom: solid 1px transparent;
  padding: 0 5px;
  transition: all 0.3s; }
  .nav-link:hover, .nav-item:hover {
    color: black;
    border-bottom: solid 1px black; }

.nav-item:hover {
  border-bottom: solid 1px transparent; }

.navActive {
  font-weight: 600;
  color: black;
  border-bottom: solid 1px black; }

.navbar {
  z-index: 1;
  position: fixed;
  width: 100vw;
  border-bottom: solid 1px transparent; }
  .navbar:hover {
    border-bottom: solid 1px transparent; }

.navbar-brand {
  z-index: 1; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none; }

.dropdown-menu {
  background-color: #EFD6CE;
  border: none;
  border-radius: 10px;
  padding: 10px; }

a.dropdown-item {
  color: black;
  padding: 3px; }
  a.dropdown-item:hover {
    padding: 3px;
    background-color: transparent; }

/* footer */
footer {
  background-color: #475418;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px 0;
  width: 100%; }
  footer div img {
    padding: 20px; }
    @media (max-width: 767px) {
      footer div img {
        transform: scale(0.5);
        padding: 0; } }
  footer div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      footer div ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        list-style: none; } }
    footer div ul li {
      padding: 20px; }
      @media (max-width: 767px) {
        footer div ul li {
          padding: 5px; } }
      footer div ul li a, footer div ul li a:hover {
        color: white; }
        footer div ul li a:hover {
          border-bottom: solid 0.5px white;
          color: white;
          text-decoration: none; }
        @media (min-width: 992px) {
          footer div ul li a, footer div ul li a:hover {
            font-size: 1.2rem; } }
        @media (min-width: 768px) and (max-width: 991px) {
          footer div ul li a, footer div ul li a:hover {
            font-size: 1rem; } }
        @media (max-width: 767px) {
          footer div ul li a, footer div ul li a:hover {
            font-size: 0.8rem; } }

.footer__logo {
  align-self: center; }

.footer__copyrigth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: solid 0.3px white;
  padding: 20px; }
  .footer__copyrigth p {
    font-style: italic;
    color: lightgrey; }
    .footer__copyrigth p span {
      font-weight: 600; }

/* botones */
.boton, .boton--rosa {
  display: inline-flex;
  padding: 0 30px;
  min-width: 180px;
  max-width: 350px;
  height: 70px;
  background-color: #A4B26B;
  border-radius: 25px;
  align-items: center;
  border: none;
  box-shadow: 2px 2px 3px #4e4e4e; }
  .boton:hover, .boton--rosa:hover {
    background-color: #778C3A; }
  @media (max-width: 767px) {
    .boton, .boton--rosa {
      max-width: 180px;
      height: 46.66667px;
      border-radius: 20px;
      padding: 10px 20px;
      align-items: center; } }

.boton--rosa {
  background-color: #D39788; }
  .boton--rosa:hover {
    background-color: #BC716D; }

.boton__texto {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  color: black; }
  .boton__texto:hover {
    color: black; }
  @media (max-width: 767px) {
    .boton__texto {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-size: 1rem;
      font-weight: 500; } }

/* ícono flotante de whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #778C3A;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 34px;
  box-shadow: 2px 2px 3px #4e4e4e;
  padding-top: 5px; }
