/* reseteo css */
*{
  margin: 0;
  padding: 0;
}

/* estilos generales */
main{
  font-family: 'Poppins', sans-serif;
}

a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
}

a:hover{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
}

/* header */
nav{ 
  z-index: 1;
  position: fixed;
  width: 100vw;
  background-color: #EFD6CE;
}

nav ul li a, .nav-item, .nav-link{ 
  font-size: 1.3rem;
  color: rgb(160, 160, 160);
  border-bottom: solid 1px transparent;
  padding: 0 5px;
  transition: all 0.3s;
}

nav ul li a:hover, .navi-item:hover, .nav-link:hover{
  color: black;
  border-bottom: solid 1px black;
}

.navActive{
  font-weight: 600;
  color: black;
  border-bottom: solid 1px black;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border: none;
}

nav img{
  padding: 5px 20px;
}

nav img:hover{
  padding: 5px 20px;
}

.dropdown-menu {
  background-color: #EFD6CE;
  border: none;
  border-radius: 10px;
}

.dropdown-item:hover {
  background-color: #e4bbae;
  color: black;
}

/* footer */
footer{ 
  background-color: #475418;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px 0;  
  width: 100%;
}

.footer__logo{
  align-self: center;
}

footer ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
}

footer ul li{
  padding: 20px;
}

footer ul li a{ 
  font-size: 1.3rem;
  color: white;
}

footer ul li a:hover{
  border-bottom: solid 0.5px white;
  color: white;
  text-decoration: none;
}

footer img{
  padding: 20px
}

.footer__copyrigth{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: solid 0.3px white;
  padding: 20px ;
}

.footer__copyrigth p{
  font-style: italic;
  color:lightgrey;
}

.footer__copyrigth p span{
  font-weight: 600;
}

/* botones */
.boton{	
  display: inline-flex;
  padding: 0 30px;
  width: 200px; 
	height: 70px;
  background-color: #A4B26B;
  border-radius: 25px;
	align-items: center;
}

.boton:hover{
  background-color: #778C3A;
}

.boton--rosa{	
  display: inline-flex;
  padding: 0 30px;
  width: 200px; 
	height: 70px;
  background-color: #D39788;
  border-radius: 25px;
	align-items: center;
}

.boton--rosa:hover{
  background-color: #BC716D;
}

.boton__texto{
  font-family: 'Poppins', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  color: black;
}

/* -- INICIO -- */
/* carrousel */
.carousel{
  z-index: 0
}

.carousel img{
  object-fit: cover;
  object-position: center;
  height: 90vh;
}

button .navbar-toggler{
  z-index: 1;
}

button:focus{
  outline: 1px dotted;
  outline: 5px white;
}

.carousel-caption{
  margin-bottom: 50px;
}

/* presentacion */
.presentacion{
  display: flex;
  flex-wrap: wrap;
  margin: 75px auto;
  width: 90vw;
}

.presentacion__foto img{
  border-radius: 500px;
  margin-bottom: 30px;
}

/* eventos */
.eventos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px auto;
  width: 80vw;
}

.eventos__titulo{
  margin: 30px 0;
}

.eventos__categorias {
  display: grid;
  grid-template-areas:
    "bodas quince quince"
    "bodas cumples rincones"
    "recep recep rincones"
    "recep recep casa";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 250px); 
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.bodas{
  grid-area: bodas;
  background-image: linear-gradient(to right, #F5E0C0, #F0C6B6);
  border-radius: 25px;
  padding: 20px;
}

.cumples{
  grid-area: cumples;
  background-color: #F5E0C0;
  border-radius: 25px;
  padding: 20px;
}

.quince{
  grid-area: quince;
  background-color: #BFC695;
  border-radius: 25px;
  padding: 20px;
}

.rincones{
  grid-area: rincones;
  background-image: linear-gradient(to right, #F0C6B6, #CF8982);
  border-radius: 25px;
  padding: 20px;
}

.recep{
  grid-area: recep;
  background-image: linear-gradient(to right, #d4dab6, #A4B26B);
  border-radius: 25px;
  padding: 20px;
}

.casa{
  grid-area: casa;
  background-color: #F5E0C0;
  border-radius: 25px;
  padding: 20px;
}

/* testimonios */
.testimonios{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5DDD3; 
  margin: 75px auto;
  padding: 10px 0;
}

.testimonios__titulo{
  margin: 30px 0;
  text-align: center;
}
  
.testimonios__cards{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}

.testimonios__card1, .testimonios__card2, .testimonios__card3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.testimonios__info{ 
  background-color: white;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.testimonios__foto{
  border-radius: 250px;
}

.testimonios p {
  text-align: center;
}

/* servicios */
.servicios__titulo{
  margin: 50px auto;
  align-self: center;
  text-align: center;
}

.contenedorCards{
  margin: 0 auto 75px auto;
  width: 90vw;
}

.card{
  border-width: 0px;
  border-radius: 25px;
  background-color:#D4D8B6;
  margin: 25px;
}

.card img{
  border-radius: 25px 25px 0 0;
}

.card-body{
  padding: 30px;
}

.card1{
 background-color: #D4D8B6;
  
}
.card2{
  background-color: #EFD6CE;
}

/* -- SOBRE MI -- */
/* cristina */
.cristina{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-image: linear-gradient(to right, #d4dab6, #A4B26B);
  height: 700px;
}

.cristina__frase{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.cristina__frase h1{
  color: #61702A;
  font-size: 4rem;
}

.cristina__frase h2{
  color: #61702A;
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

.cristina__parrafo{
  display: inline-block;
  width: 50vw;
  margin-bottom: 40px;
  font-style: italic;
}

.cristina__foto{
  align-self: flex-end;
}

.cristina__foto img{
  height: 550px;
}

/* historia */
.historia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 150px 0;
}

.historia__fotos{
  display: grid;
  grid-template-areas:
    "historia1 historia1"
    ". historia2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: flex-end;
}

.historia1{
  grid-area: historia1;
  width: 800px;
  height: 400px;
  border-radius: 25px;
}

.historia2{
  grid-area: historia2;
  width: 400px;
  height: 400px;
  border-radius: 25px;
}

.historia__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.historia__info p{
  margin-bottom: 30px
}

.historia__info h2{
  text-align: left;
  margin-bottom: 30px
}

/* logros */
.logros{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #E5DDD3;
  margin: 150px 0;
  padding: 30px 0;
}

.logros__texto{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.logros__cifras{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 30px 0;
}

/* hobbies */
.hobbies{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: 150px 0;
}

.hobbies__titulo{
  align-self: center;
  margin: 30px 0;
}

.hobbies__cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hobbies__card1, .hobbies__card2{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hobbies h3{
  font-size: 2.5rem;
}

.hobbies h4{
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
}

.hobbies img{
  width: 700px;
  height: 500px;
  border-radius: 25px;
  margin: 20px 0;
}

/* -- GALERIA -- */
.galeria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}

.galeria h1{
  margin-bottom: 50px;
}

.galeria__fotos{
  display: grid;
  grid-template-areas:
    "foto1 foto1 foto2 foto3"
    "foto4 foto5 foto5 foto6"
    "foto7 foto5 foto5 foto6"
    "foto8 foto8 foto9 foto10";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 400px); 
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  width: 80vw;
}

.galeria__fotos div{
  transition: all 0.5s;
}

.galeria__fotos div:hover{
  transform: scale(1.05);
}

.foto1{
  grid-area: foto1;
  border-radius: 25px;
  background-image: url(../img/galeria1.jpg);
  background-size: cover;
  background-position: center;
}

.foto2{
  grid-area: foto2;
  border-radius: 25px;
  background-image: url(../img/galeria2.jpg);
  background-size: cover;
  background-position: center;
}

.foto3{
  grid-area: foto3;
  border-radius: 25px;
  background-image: url(../img/galeria3.jpg);
  background-size: cover;
  background-position: center;
}

.foto4{
  grid-area: foto4;
  border-radius: 25px;
  background-image: url(../img/galeria4.jpg);
  background-size: cover;
  background-position: center;
}

.foto5{
  grid-area: foto5;
  border-radius: 25px;
  background-image: url(../img/galeria5.jpg);
  background-size: cover;
  background-position: center;
}

.foto6{
  grid-area: foto6;
  border-radius: 25px;
  background-image: url(../img/galeria6.jpg);
  background-size: cover;
  background-position: center;
}
.foto7{
  grid-area: foto7;
  border-radius: 25px;
  background-image: url(../img/galeria7.jpg);
  background-size: cover;
  background-position: center;
}

.foto8{
  grid-area: foto8;
  border-radius: 25px;
  background-image: url(../img/galeria8.jpg);
  background-size: cover;
  background-position: center;
}

.foto9{
  grid-area: foto9;
  border-radius: 25px;
  background-image: url(../img/galeria9.jpg);
  background-size: cover;
  background-position: center;
}

.foto10{
  grid-area: foto10;
  border-radius: 25px;
  background-image: url(../img/galeria10.jpg);
  background-size: cover;
  background-position: center;
}

/* -- SERVICIOS -- */
/* proceso de diseno */
.proceso{
  padding-top: 150px;
}

.proceso h1{
  text-align: center;
  margin-bottom: 100px;
}

.etapas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

/* servicios */
.service{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 150px 0;
}

.service__card1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 0;
}

.service__foto1 img{
  border-radius: 500px;
}

.service__info1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service__card2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #EFD6CE;
}

.service__foto2 img{
  border-radius: 500px;
  transform: scale(1.2);
}

.service__info2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

/* boton */
.boton__servicios{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  gap: 20px;
  background-image: url(../img/carrousel1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding: 50px;
  margin: 100px 50px;
  color: white;
}

.botonLargo{	
  display: inline-flex;
  padding: 0 30px;
  width: 400px; 
	height: 70px;
  background-color: #A4B26B;
  border-radius: 25px;
	align-items: center;
}

.botonLargo:hover{
  background-color: white;
}

/* -- CONTACTO -- */
/* formulario */
.contacto{
  padding-top: 150px;
}

.contacto h1{
  text-align: center;
  margin-bottom: 50px;
}

form{
  background-color: #d8dfb4;
  border-radius: 50px;
  margin-bottom: 100px;
}

fieldset{
  border: none;
}

.formulario{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.formulario__datos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:30px;
  gap: 20px;
}

.formulario__datos1{
  margin-bottom: 20px;
}

.formulario__datos2,.formulario__datos3{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;  
}

.datoss{
  display: flex;
  flex-direction: column;
}

.formulario__evento{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:30px;
  gap: 20px;
}

.formulario__evento1{
  margin-bottom: 20px;
}

.formulario__evento2,.formulario__evento3,.formulario__evento4{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px; 
}

form label{
  font-size: 1.5rem;
  font-weight: 600;
}

form ::placeholder, form select, form option {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

form option{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

form input, form select, form option{
  padding: 20px;
  width: 25vw;
}

form textarea{
  padding: 20px;
  width: 50vw;
}

form h3{
  font-size: 3rem;
}

.formulario__botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 0;
}

.formulario__boton1{	
  display: inline-flex;
  padding: 0 30px;
  width: 400px; 
	height: 70px;
  background-color: white;
  border-radius: 25px;
	align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  color: black;
}

.formulario__boton1:hover, .formulario__boton2:hover{
  background-color: #778C3A;
}

.formulario__boton2{	
  display: inline-flex;
  padding: 0 30px;
  width: 400px; 
	height: 70px;
  background-color: white;
  border-radius: 25px;
	align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style:normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: left;
  color: black;
}

/* media queries */
@media (min-width: 992px){
h1{
  font-size: 4.5rem;
  font-weight: 700;
}

h2{
  font-size: 3rem;
  font-weight: 600;
}

h3{
  font-size: 2.5rem;
  font-weight: 500;
}

p{
  font-size: 1.4rem;
}

footer ul li a{
  font-size: 1.1rem;
}

.navbar{ 
  z-index: 1;
  position: fixed;
  width: 100vw
}

.presentacion__foto img{
  width: 80%;
}
}
  
@media (min-width: 768px) and (max-width: 991px){
h1{
  font-size: 4rem;
  font-weight: 700;
}

h2{
  font-size: 2.5rem;
  font-weight: 600;
}

h3{
  font-size: 2rem;
  font-weight: 500;
}

p{
  font-size: 1.2rem;
}

footer ul li a{
  font-size: 1rem;
}

.navbar{ 
  z-index: 1;
  position: fixed;
  width: 100vw
}

.presentacion{
  text-align: center;
}

.presentacion__foto img{
  width: 90%;
}

.eventos__categorias {
  display: grid;
  grid-template-areas:
    "bodas quince"
    "bodas cumples"
    "recep recep"
    "casa rincones";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 180px); 
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.servicios__cards{
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.servicios__card1, .servicios__card2{
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  justify-content: center;
}

.servicios__info{
  padding: 0;
  align-items: center;
  text-align: center;
}

.servicios__foto img{
  width: 300px
}
}

@media (max-width: 767px){
h1{
  font-size: 3rem;
  font-weight: 700;
}
  
h2{
  font-size: 2.2rem;
  font-weight: 600;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
}

p{
  font-size: 1rem;
}

.navbar{ 
  z-index: 1;
  position: fixed;
  width: 100vw
}

footer ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  list-style: none;
}

footer ul li{
padding: 5px;
}

footer ul li a{
  font-size: 0.8rem;
}

footer img{
  transform: scale(0.5);
  padding: 0
}

.boton, .boton--rosa{	
  width: 150px; 
	height: 40px;
  border-radius: 15px;
  padding: 10px 20px;
}

.boton__texto{
  font-size: 1rem;
}

.presentacion{
  text-align: center;
}

.presentacion__foto img{
  width: 80%;
}

.eventos__categorias {
  display: grid;
  grid-template-areas:
    "bodas quince"
    "bodas cumples"
    "recep recep"
    "casa rincones";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 180px); 
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.testimonios__cards{
  flex-wrap: wrap;
}

.servicios__cards{
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.servicios__card1, .servicios__card2{
  flex-wrap: wrap;
  margin: auto;
  padding: 20px;
  justify-content: center;
}

.servicios__info{
  padding: 0;
  align-items: center;
  text-align: center;
}

.servicios__foto img{
  width: 200px
}
}
